<nav class="bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            {% if is_data_exist %}
            <li class="nav-item mt-2">
                <a class="nav-link" id="dashboard-tab" data-bs-toggle="pill" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">
                <span data-feather="bar-chart-2"></span>
                Дашборд
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="team-tab" data-bs-toggle="pill" data-bs-target="#team" type="button" role="tab" aria-controls="team" aria-selected="false">
                <span data-feather="users"></span>
                Команда
                </a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="../">
                <span data-feather="arrow-left-circle"></span>
                К проектам
                </a>
            </li> -->
            <li class="nav-item">
                {% include "filter.html" %}
            </li>
            {% endif %}
            <li class="nav-item mt-2">
              <a class="nav-link"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <span data-feather="database"></span>
              Данные
              </a>
            </li>
        </ul>
   </div>
</nav>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
feather.replace()
</script>

